BeautifulSoup4==4.12.3
celery==5.4.0
coverage==7.6.9
debugpy==1.8.9
django==5.1.4
django-celery-results==2.5.1
django-cors-headers==4.6.0
django-environ==0.11.2
django-health-check==3.18.3
djangorestframework==3.15.2
django-filter==24.3
django-utils-six==2.0
gunicorn==23.0.0
paramiko==3.5.0
psycopg2==2.9.10
python-decouple==3.8
redis==5.2.1
requests==2.32.3